$blue: #0099d6;
$light-blue: #e5f5fb;
$yellow: #fdd96e;
$light-yellow: #fff9da;
$lighter-yellow: #f69234;
$dark-purple: #563770;
$light-purple: #eadff4;
$red: #e21a23; // Error messages only
$light-red: #f7a7aa;
$lighter-red: #fdeaeb;
$dark-green: #78a12e; // Use for highlight text for agent note
$green: #8cc63e; // eHealth logo
$light-green: #d3eab6;
$lighter-green: #e7f2db;
$black: #333;
$dark-grey: #666;
$medium-grey: #999;
$light-grey: #ccc;
$lighter-grey: #ddd;
$lightest-grey: #eee;
$lightestx-grey: #f6f6f6;

$brand-blue: $blue;
$brand-green: $dark-green;

// BORDER
$color-border: $light-grey;
$color-placeholder: $medium-grey;

// CONTENT
$color-body-bg: #fff;
$color-text: #444;
$color-heading-text: #333;

// LINKS
$color-link-text: $brand-blue;
$color-link-text-active: $color-text;

// INPUTS
$color-input-border: $color-border;

// SELECTS
$color-select-border: $color-border;

// CHECKBOXS, RADIOS
$color-checkbox-border: $color-border;
$color-radio-border: $color-border;

// BUTTONS
$color-button-bg-primary: $brand-blue;
$color-button-hover-bg-primary: #0089c0;
$color-button-text-primary: white;
$color-button-border-primary: $color-button-bg-primary;

$color-button-bg-secondary: #fff;
$color-button-hover-bg-secondary: $lightest-grey;
$color-button-text-secondary: $brand-blue;
$color-button-border-secondary: $brand-blue;

$color-button-bg-tertiary: #fff;
$color-button-hover-bg-tertiary: $lightest-grey;
$color-button-text-tertiary: $brand-blue;
$color-button-border-tertiary: $light-grey;

// MODAL
$color-modal-border: $color-border;
$color-modal-bg: #fff;
$color-modal-box-shadow: 0 2px 4px 0 $medium-grey;

// ERROR
$color-error-text: $red;
$color-error-bg: $light-red;
$color-error-border: $lighter-red;

// WARNING
$color-error-text: $black;
$color-error-bg: $light-yellow;
$color-error-border: $yellow;

// SUCCESS
$color-error-text: $dark-green;
$color-error-bg: $lighter-green;
$color-error-border: $dark-green;

// INFOMATION
$color-error-text: $black;
$color-error-bg: $light-blue;
$color-error-border: $blue;

@function color($name) {
  @if map-has-key(getColors(), $name) {
    @return map-get(getColors(), $name);
  } @else {
    @warn "Color not found: #{$name}";

    @return #000;
  }
}

@function getColors() {
  @return $colors;
}
