%font-heading {
  color: $color-heading-text;
}

%font-content {
  color: $color-text;
}

$font-size-large: 20px;
$font-size-medium: 18px;
$font-size-small: 16px;

%typography-large {
  font-size: $font-size-large;

  @extend %font-content;
}

%typography-medium {
  font-size: $font-size-medium;

  @extend %font-content;
}

%typography-small {
  font-size: $font-size-small;

  @extend %font-content;
}
